.edu {
  display: block;
}

table,
td,
th {
  border: 1px solid var(--black);
  border-collapse: collapse;
}

th,
td {
  padding: 1vw 1vw;
}

table {
  margin: 3vw auto;
  text-align: center;
  width: 90vw;
  font-size: 1.05vw;
}

table > tbody > tr > td {
  word-wrap: break-word;
  width: 100vw;
}

th {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  height: 5vw;
}

tr:hover,
tr:hover > td {
  background-color: var(--red);
  color: var(--white);
}

tbody tr {
  height: 5vw;
}

.inst {
  width: 50vw;
  padding: 0 1vw;
}

.deg {
  width: 15vw;
  padding: 0 1vw;
}

.board {
  width: 50vw;
}

.year {
  width: 200px;
  padding: 0 1vw;
}

.gpa {
  width: fit-content;
  padding: 0 1vw;
}

.desc {
  width: 100vw;
  padding: 0 1vw;
}
