.header {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 1.25em 0;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  display: inline-block;
  margin: 0.625em 1.25em;
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.header ul li a:hover {
  color: var(--red);
}

.header .active,
.header .active:hover {
  color: var(--blue);
  cursor: pointer;
}

/* MEDIA QUERY */
@media screen and (max-width: 1210px) {
  .header {
    display: block;
    width: fit-content;
    margin: auto;
  }

  .header .logo {
    display: block;
    margin: auto;
  }

  .header ul {
    width: fit-content;
    padding-top: 20px;
  }

  .header ul li {
    display: inline-flex;
    list-style: none;
    text-align: center;
    margin: 0;
  }

  .header ul li a {
    margin: 6px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 520px) {
  .header ul {
    text-align: center;
  }
}
