.detail {
  margin-left: 8%;
  margin-top: 10%;
}

.detail h1 {
  font-size: 50px;
  color: var(--black);
  min-width: 600px;
}

.detail h2 {
  font-size: 30px;
  font-weight: 900;
  color: var(--blue);
  margin-bottom: 10px;
}

.detail p {
  color: var(--gray);
}

.detail a {
  background-color: var(--black);
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  display: inline-block;
  margin: 1.25em 0;
  border-radius: 5px;
}

.detail a:hover {
  color: var(--red);
}

.images {
  width: 45%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: left 1s, bottom 1s;
}

.images .boy {
  width: 28.063vw;
}

.images .shape {
  width: 37.5vw;
}

.images:hover .shape {
  bottom: 40px;
}

.images:hover .boy {
  left: 60%;
}

/* MEDIA QUERY*/
@media screen and (max-width: 1000px) {
  .images {
    pointer-events: none;
  }
}

@media screen and (max-width: 700px) {
  .images {
    display: none;
  }

  .detail h1 {
    font-size: 7.143vw;
  }
  .detail h2 {
    font-size: 4.286vw;
  }
  .detail p {
    font-size: 2.286vw;
  }
}
