.socials {
  position: fixed;
  background-color: var(--white);
  bottom: 0;
  padding: 5px 0;
  padding-left: 8%;
  align-items: baseline;
  width: 100vw;
  height: 32px;
}

.home-socials {
  position: fixed;
  background-color: transparent;
  bottom: 0;
  padding: 5px 0;
  padding-left: 8%;
  align-items: baseline;
  width: 100vw;
  height: 32px;
}

.socials a,
.home-socials a {
  font-size: 0;
}

.socials img,
.home-socials img {
  margin-right: 10px;
}

.socials img:hover,
.home-socials img:hover {
  background-color: var(--blue);
  border-radius: 10px;
}
